.theme-red {
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 210 20% 98%;
}

.dark .theme-red {
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 210 20% 98%;
}

.theme-black {
	--primary: 0 0% 0%;
	--primary-foreground: 0 0% 100%;
}

.dark .theme-black {
	--primary: 0 0% 0%;
	--primary-foreground: 0 0% 100%;
}

.theme-pink {
	--primary: 330.4 81.2% 60.4%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-pink {
	--primary: 330.4 81.2% 60.4%;
	--primary-foreground: 210 40% 98%;
}

.theme-dark-green {
	--primary: 150 60% 25%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-dark-green {
	--primary: 150 60% 25%;
	--primary-foreground: 210 40% 98%;
}

.theme-gray {
	--primary: 0 0% 50%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-gray {
	--primary: 0 0% 50%;
	--primary-foreground: 210 40% 98%;
}

.theme-purple {
	--primary: 270 70% 50%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-purple {
	--primary: 270 70% 50%;
	--primary-foreground: 210 40% 98%;
}

.theme-dark-blue {
	--primary: 220 70% 25%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-dark-blue {
	--primary: 220 70% 25%;
	--primary-foreground: 210 40% 98%;
}
